<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Kitchen Service</title>
	<link type="Image/x-icon" href="/static/images/favicon.ico" rel="icon">
  <!-- Bootstrap Core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="/static/css/style.css" rel="stylesheet">
</head>
<body class="index-page">
	<div class="wrap-body">
		<header class="clearfix">
			{% block navigation %}
				{% include "includes/navigation.html" %}
			{% endblock %}

		<div class="header-text">
			<div class="col-md-12 text-center">
				<div class="my-page-content">
					{% block content %}
					{% endblock %}
					{% block pagination %}
						{% include "includes/pagination.html" %}
					{% endblock %}
				</div>
			</div>
		</div>

		</header>
		</div>
	</body>
</html>
